<div class="indexMain">
    <div class="card">
        <div class="card-header text-center">
            Bienvenido
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Descubre la nueva forma de escoger a tus gobernantes</h5>
            <p class="card-text text-center">Utiliza nuestro nuevo sistema de votaciones para escoger a tus futuros gobernantes en una forma mas segura y dinamica</p>
        </div>
    </div>
</div>