<div class="indexMain">
    <div class="card">
        <div class="card-header text-center">
            Welcome
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Discover the new way to select your mandatories</h5>
            <p class="card-text text-center">With our new voting system you have a total new way of select your favorite mandatories in more secure way.</p>
        </div>
    </div>
</div>