// Place all the styles related to the Vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.digitCC {
    display: none;
}
.vote1 {
    display: none;
}
.vote2 {
    display: none;
}
